#gamdoriAlert {
    width: 500px;
    min-height: 100px;
    max-height: 500px;
    z-index: 99999;
    position: absolute;
    left: 50%;
    top: 10%;
    border: 1px solid;
    background-color: white;
    padding: 5px;
    overflow: auto;
}

.alertMsg,
.alertMsg div {
    font-family: Arial;
    font-size: 13px;
    color: black;
}

#gamdoriAlertClose {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 0;
}