body {
  text-align: center;
}

#coin-input-box {
  width: 500px;
  margin: auto;
  margin-bottom: 10px;
}

.from {
  width: 100px;
}

.fromIdx {
  width: 50px;
  margin-right: 20px;
}

.to {
  width: 100px;
}

.toIdx {
  width: 50px;
}

#coinPairs {
  margin: auto;
}

button:hover,
input[type='checkbox']:hover {
  cursor: pointer;
}

tr {
  position: relative;
}

.itemUp,
.itemDown {
  color: black;
}

.lastClickedUpDown {
  color: red;
}